location: D:/music
db: library.sqlite
skip_discovery: true
skip_album_art: false
cache_thumbnails: true
# password: pass

handlers:
    flac_to_mp3:
        enabled: true

    flac_to_ogg:
        enabled: true

    mp3passthrough:
        enabled: true

