body {
  background-color: #151515;
  color: #EEEEEE;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

a {
  color: #37C4FF;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dotted #00FFFF;
}

#body {
  position: absolute;
  top: 125px;
  width: 100%;
  overflow: hidden;
}

#folders {
  position: absolute;
  float: left;
  width: 260px;
  overflow-y: scroll;
}

#browser {
  background: black;
  margin-left: 260px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#listing th, #listing td {
  padding: 3px 5px;
}

#listing table {
  min-width: 450px;
}

#listing tbody tr:hover {
  background-color: #333;
  cursor: pointer;
}

#playlist {
  background-color: #151515;
  position: fixed;
  top: 0;
  right: 0;
  width: 452px;
  z-index: 1;
}

#playlist .list .selected {
  background-color: #333;
}

#playlist .list {
  padding: 0;
  margin: 0;
  height: 103px;
  overflow-y: scroll;
}

#playlist tr td.handle {
  width: 16px;
}

#playlist tr:hover td.handle {
  background-image: url('reorder.gif');
}

#playlist .list table tbody tr {
  cursor: pointer;
}

#playlist .list table {
  width: 100%;
}

#playlist td.handle {
  cursor: n-resize;
}

.section_header {
  background-color: #223;
  padding: 3px 0 3px 6px;
  cursor: pointer;
}

.section_header .icon {
  width: 16px;
  height: 16px;
  background-image: url('arrows.png');
  float: right;
  margin-right: 5px;
}

.expanded_header .icon {
  background-position: bottom left;
}

/* controls */
#controls {
  width: 100%;
  height: 125px;
}

#playback {
  float: left;
  width: 365px;
}

#art {
  width: 75px;
  height: 75px;
  margin: 0 2em 0 1em;
  float: left;
  background: url('placeholder.png') #111111;
}

#art img {
  display: none;
}

#nowplaying {
  margin: 1em 0 0.75em 1em;
}

#time {
  text-align: right;
}

#volume {
  height: 24px;
  margin-bottom: 5px;
}

#controls button {
  width: 24px;
  height: 24px;
  margin: 2px 0 2px 0;
}

#mute {
  float: right;
}

#sliderVolume {
  width:120px;
  height:.4em;
  margin: 8px 0 0 1em;
}

#sliderVolume .ui-slider-handle {
  height:.8em;
  width:.8em;
}

#bars_holder {
  width: 100%;
  float: right;
  margin: 6px 0;
}

#sliderPlayback .ui-slider-handle {
  height:1.6em;
  margin-top: -0.2em;
}

#loaderBar {
  height:2px;
  background: none;
  border:0;
}

#loaderBar .ui-progressbar-value {
  border: none;
  background: none #00AA00;
  margin: 0;
}

#sliderVolume {
  float: right;
}

.ui-slider-handle {
  cursor: pointer;
}

/* Settings dialog */

#playlist-settings, #settings {
  display: none;
}

#playlist-settings {
  position: absolute;
  background-color: #112;
  border: 1px solid #003;
  z-index: 100;
}

#playlist-settings ul {
  width: 125px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#playlist-settings ul li {
  padding: 5px 0 5px 5px;
}

#playlist-settings ul li:hover {
  background-color: #99D;
  color: black;
  cursor: pointer;
}

/* some themeroller overrides */

#folders a.ui-state-default {
  background: none;
  border: 0;
}

#folders div.ui-widget-content {
  background: #151515;
}
