body {
  background-color: #151515;
  color: #EEEEEE;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

a {
  color: #37C4FF;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dotted #00FFFF;
}

#listing {
  float: left;
  margin: 0em 2em 0 2em;
}

#listing th, #listing td {
  padding: 1px 5px 1px 5px;
}

#listing table {
}

#listing tr:hover {
  background-color: #444;
  cursor: pointer;
}

#playlist {
  float: right;
  margin: 0em 2em 1em 2em;
  max-width: 450px;
}

#playlist .list .selected {
  background-color: #333;
}

#playlist .list div {
  cursor: pointer;
}

#body {
  clear: both;
  margin-top: 140px;
}

.smallDisplay {
  margin-top: 1em !important;
  float: left !important;
  max-height: 200px;
  overflow-y: scroll;
  width: 450px;
}

/* controls */
#controls {
  background-color: #151515;
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: 125px;
  padding: 10px 20px 10px 20px;
}

#playback {
  float: right;
  width: 365px;
}

.playbackBig {
  width: 95% !important;
}

#art {
  width: 75px;
  height: 75px;
  margin-right: 0.4em;
  float: left;
  background: url('placeholder.png') #111111;
}

#nowplaying {
  margin: 1em 0 0.75em 0;
}

#volume {
  height: 24px;
  margin-bottom: 5px;
}

#controls button {
  width: 24px;
  height: 24px;
  margin: 2px 0 2px 0;
}

#mute {
  float: right;
}

#sliderVolume {
  width:120px;
  height:.4em;
  margin: 8px 0 0 1em;
}

#sliderVolume .ui-slider-handle {
  height:.8em;
  width:.8em;
}

#bars_holder {
  width: 100%;
  float: right;
  margin: 6px 0;
}

#sliderPlayback .ui-slider-handle {
  height:1.6em;
  margin-top: -0.2em;
}

#loaderBar {
  height:2px;
  background: none;
  border:0;
}

#loaderBar .ui-progressbar-value {
  border: none;
  background: none #00AA00;
  margin: 0;
}

#sliderVolume {
  float: right;
}

.ui-slider-handle {
  cursor: pointer;
}