body {
  background-color: #151515;
  color: #EEEEEE;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-size: 0.8em;
  margin: 1em 2em 0 2em;
}

a {
  color: #37C4FF;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dotted #00FFFF;
}

#listing {
  float: left;  
}

#listing th, #listing td {
  padding: 1px 5px 1px 5px;
}

#listing table {
  min-width: 450px;
}

#listing tr:hover {
  background-color: #444;
  cursor: pointer;
}

#playlist {
  float: right;
  margin-bottom: 1em;
}

#playlist .list .selected {
  background-color: #333;
}

/* controls */
#controls {
  width: 450px;
  height: 75px;
}

#playback {

}

#art {
  width: 75px;
  height: 75px;
  margin-right: 0.4em;
  float: left;
  background-color: #111;
}

#art img {
  display: none;
}

#nowplaying {
  margin: 1em 0 0.75em 0;
}

#volume {
  height: 24px;
  margin-bottom: 5px;
}

#play, #pause, #stop, #mute, #prev, #next {
  width: 24px;
  height: 24px;
}

#mute {
  float: right;
}

#sliderVolume {
  width:120px;
  height:.4em;
  margin: 8px 0 0 1em;
}

#sliderVolume .ui-slider-handle {
  height:.8em;
  width:.8em;
}

#bars_holder {
  width:300px;
  float: right;
  margin: 6px 0;
}

#sliderPlayback .ui-slider-handle {
  height:1.6em;
  margin-top: -0.2em;
}

#loaderBar {
  height:2px;
  background: none;
  border:0;
}

#loaderBar .ui-progressbar-value {
  border: none;
  background: none #00AA00;
  margin: 0;
}

#sliderVolume {
  float: right;
}

.ui-slider-handle {
  cursor: pointer;
}